@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";



/* paleta de colores  */
:root {
    /* tonos de verde */
    --primary-green: #04d939; 
    --secondary-green: #03a63c; 
    --deactive-green: #027333;
    
    /* tonos de azul */
    --primary-blue: #0fc2c0; 
    --secondary-blue: #008f8c; 

    /* colres de referencias para fuentes de informacion */
    --x-color:#1DA1F2;
    --reddit-color:#FF4500;
    --rss-color:var(--primary-green)
}
html, body {
    background-color: black;
    
}


h1,h2{
    color:white ;
}


/*iconos*/
.bi-shield-fill-check{
    color:var(--primary-green);
}

.bi-reddit, .reddit{
    color: var(--reddit-color);
}
.bi-twitter-x, .x{
    color: var(--x-color);
}
.bi-rss-fill{
    color:var(--rss-color)
}

