@if (itemNew.type=="rss") {
  <div class="col mb-3 rounded-4">
    <div class="card card-rss">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 ">
              <h4 class="card-title">{{itemNew.title}}</h4>
            </div>
            <div class="col-md-4 text-center">
              <h1><i class="bi bi-rss-fill"></i></h1>
            </div>
          </div>
          <h5>{{itemNew.page}} / {{itemNew.datePub}}</h5>
          <p class="card-text ">{{itemNew.bodyText}}</p>
        </div>
    </div>
  </div>
} 

@if (itemNew.type=="x") {
  <div class="col mb-3 rounded-4">
    <div class="card card-x">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 ">
              <h4 class="card-title">{{itemNew.userPorifle}}</h4>
              <h5>{{itemNew.nameProfile}} / {{itemNew.datePub}}</h5> 
            </div>
            <div class="col-md-3  text-center">
              <h1><i class="bi bi-twitter-x"></i></h1>
            </div>
          </div> 
          <p class="card-text">{{itemNew.textPub}}</p>
          <div class="row text-white">
            <div class="col d-flex">
              <h5>
                <i class="bi bi-heart"></i>
                {{itemNew.cantLkes}}
              </h5>
            </div>
            <div class="col d-flex">
              <h5>
                <i class="bi bi-chat-left"></i>
                {{itemNew.cantComents}}
              </h5>
            </div>
            <div class="col d-flex">
              <h5>
                <i class="bi bi-arrow-repeat"></i>
                {{itemNew.canRetwits}}
              </h5>
            </div>
          </div>
        </div>
    </div>
  </div>
} 

@if (itemNew.type=="reddit") {
  <div class="col mb-3 rounded-4">
    <div class="card card-reddit">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 ">
              <h4 class="card-title">{{itemNew.titlePub}}</h4>
            </div>
            <div class="col-md-4 text-center">
              <h1><i class="bi bi-reddit"></i></h1>
            </div>
          </div>
          <h5>{{itemNew.nameProfile}} / {{itemNew.datePub}}</h5> 
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           
          <div class="row text-white">
            <div class="col d-flex">
              <h5>
                <i class="bi bi-arrow-up"></i>
                {{itemNew.CantUpVotes}}
              </h5>
            </div>
            <div class="col d-flex">
              <h5>
                <i class="bi bi-arrow-down"></i>
                {{itemNew.CantDownVotes}}
              </h5>
            </div>
            <div class="col d-flex">
              <h5>
                <i class="bi bi-chat-left"></i>
                45
              </h5>
            </div>
            <div class="col d-flex">
              <h5>
                <i class="bi bi-arrow-bar-up"></i>
                {{itemNew.CantShares}}
              </h5>
            </div>
          </div>

        </div>
    </div>
  </div>
} 
